In [1]:
import pandas as pd
import numpy as np

import datetime

import warnings
warnings.filterwarnings('ignore')

## --- ntcn -

In [2]:
df = pd.read_csv('test_kosm.csv', delimiter=';')
df

    otryad      fio  pnd   vt   sr  cht   pt   sb   vs
0        2   leonov  2.0  1.0  NaN  2.0  NaN  3.0  NaN
1        2  komarov  NaN  NaN  2.0  NaN  NaN  NaN  NaN
2        1  gagarin  1.0  NaN  NaN  NaN  NaN  NaN  2.0
3        1    titov  3.0  NaN  3.0  2.0  1.0  NaN  NaN
4        2   leonov  1.0  NaN  NaN  NaN  NaN  NaN  NaN
5        2  komarov  NaN  NaN  3.0  NaN  NaN  2.0  1.0
6        1  gagarin  2.0  NaN  NaN  NaN  2.0  NaN  NaN
7        1    titov  3.0  NaN  1.0  NaN  NaN  NaN  NaN
8        2   leonov  4.0  NaN  4.0  NaN  1.0  NaN  NaN
9        2  komarov  NaN  NaN  2.0  NaN  NaN  NaN  NaN
10       1  gagarin  5.0  NaN  NaN  1.0  NaN  1.0  NaN
11       1    titov  1.0  NaN  2.0  NaN  NaN  3.0  1.0

In [4]:
df_gr = df.groupby(['otryad', 'fio']).sum()
df_gr

                pnd   vt   sr  cht   pt   sb   vs
otryad fio
1      gagarin  8.0  0.0  0.0  1.0  2.0  1.0  2.0
       titov    7.0  0.0  6.0  2.0  1.0  3.0  1.0
2      komarov  0.0  0.0  7.0  0.0  0.0  2.0  1.0
       leonov   7.0  1.0  4.0  2.0  1.0  3.0  0.0

In [5]:
df_gr1 = df.groupby(['fio']).sum()
df_gr1

         otryad  pnd   vt   sr  cht   pt   sb   vs
fio
gagarin       3  8.0  0.0  0.0  1.0  2.0  1.0  2.0
komarov       6  0.0  0.0  7.0  0.0  0.0  2.0  1.0
leonov        6  7.0  1.0  4.0  2.0  1.0  3.0  0.0
titov         3  7.0  0.0  6.0  2.0  1.0  3.0  1.0

In [6]:
df_max_col = df_gr.max(axis=1)
df_max_col

otryad  fio
1       gagarin    8.0
        titov      7.0
2       komarov    7.0
        leonov     7.0
dtype: float64

In [480]:
# df_gr.loc[df_gr.index == 'komarov'].max(axis=1).max()

In [481]:
# for row in range(len(df_gr.index)):
#     df_gr.idxmax(axis=1)
#     print(f'Max element of row {df_gr.index[row]} is:', max(df_gr.iloc[row]))

In [7]:
df_col = df_gr.idxmax(axis=1)
df_col

otryad  fio
1       gagarin    pnd
        titov      pnd
2       komarov     sr
        leonov     pnd
dtype: object

In [8]:
df_result = pd.concat([df_col, df_max_col], axis=1)
df_result

                  0    1
otryad fio
1      gagarin  pnd  8.0
       titov    pnd  7.0
2      komarov   sr  7.0
       leonov   pnd  7.0

In [484]:
df_result.to_excel('111.xlsx')

## НОВЫЙ ТЕСТ

In [9]:
df_pik = pd.read_csv('тест_транспорт_пик_подг.csv', delimiter=';', encoding='cp1251')
df_pik.head(2)

,Наименование филиала,Необходимый тип транспортного средства,Подана заявка,Выполнена заявка
0,Отдел МТО,Легковой административный транспорт,01.08.2022,01.08.2022
1,ВПС Солнцево,Машина с носилками,01.08.2022,01.08.2022

In [10]:
df_pik = df_pik[['Наименование филиала ', 'Необходимый тип транспортного средства',
       'Подана заявка', 'Выполнена заявка']]

In [11]:
#  переименуем покороче столбцы
df_pik.rename(columns={'Наименование филиала ': 'филиал'}, inplace=True)
df_pik.rename(columns={'Необходимый тип транспортного средства': 'тип'}, inplace=True)
df_pik.rename(columns={'Подана заявка': 'Подана'}, inplace=True)
df_pik.rename(columns={'Выполнена заявка': 'Выполнена'}, inplace=True)

In [12]:
#  --------- DATATIME
df_pik['Выполнена'] = pd.to_datetime(df_pik['Выполнена'], dayfirst=True, errors = 'coerce').dt.normalize()
df_pik['Подана'] = pd.to_datetime(df_pik['Подана'], dayfirst=True, errors = 'coerce').dt.normalize()

In [13]:
df_pik['Подана'].max().to_pydatetime().date().strftime('%Y-%m-%d')

'2022-11-09'

In [119]:
%%time
# import time 
a = 1
# time.sleep(5)

CPU times: total: 0 ns
Wall time: 0 ns

In [124]:
# # ---- найдем мин и макс ----
# # dv_min = df_pik['Выполнена'].min().to_pydatetime().date().strftime('%Y-%m-%d')
# # dv_max = df_pik['Выполнена'].max().to_pydatetime().date().strftime('%Y-%m-%d')
# # dp_min = df_pik['Подана'].min().to_pydatetime().date().strftime('%Y-%m-%d')
# # dp_max = df_pik['Подана'].max().to_pydatetime().date().strftime('%Y-%m-%d')
# # ------------------------
dv_min = df_pik['Выполнена'].min().to_pydatetime().date()
dv_max = df_pik['Выполнена'].max().to_pydatetime().date()
dp_min = df_pik['Подана'].min().to_pydatetime().date()
dp_max = df_pik['Подана'].max().to_pydatetime().date()
# print(dv_min, dv_max, dp_min, dp_max)
date_list = [dv_min, dv_max, dp_min, dp_max]
start_date = min(date_list)
end_date = max(date_list)
print(start_date, end_date)

2022-08-01 2022-12-06

In [123]:
#  ------------- Временные СТАРТ и ЭНД ----------
# For capturing the execution time

# start_date = datetime.datetime.strptime('2022-08-01', "%Y-%m-%d").date()
# end_date = datetime.datetime.strptime('2022-09-10', "%Y-%m-%d").date()

In [107]:
# /////////////---------------------------------------------///////////////// cicl
# end_date = df_pik['Выполнена'].max().to_pydatetime().date()
# start_date = df_pik['Выполнена'].min().to_pydatetime().date()
# start_date = datetime.datetime.strptime('2022-08-01', "%Y-%m-%d").date()
# end_date = datetime.datetime.strptime('2022-08-05', "%Y-%m-%d").date()

# delta = datetime.timedelta(days=1)

# data_list = []
# while (start_date <= end_date):
#     print(start_date.strftime("%Y-%m-%d"), type(start_date.strftime("%B %d, %Y")), end="\n")
#     data_list.append(start_date.strftime("%Y-%m-%d"))
#     start_date += delta

# data_list

In [125]:
# -------------------------------- работает по формированию НУЛЕВЫХ колонок ---------
def create_df_col(df, start, end):
    start_date = start
    end_date = end 
    df = df
    delta = datetime.timedelta(days=1)
    # data_list = []
    while (start_date <= end_date):
        
        df[start_date.strftime("%Y-%m-%d")] = 0  # создаем строку в DF
        start_date += delta

In [126]:
create_df_col(df_pik, start_date, end_date)
df_pik

,филиал,тип,Подана,Выполнена,2022-08-01,2022-08-02,2022-08-03,2022-08-04,2022-08-05,2022-08-06,...,2022-11-27,2022-11-28,2022-11-29,2022-11-30,2022-12-01,2022-12-02,2022-12-03,2022-12-04,2022-12-05,2022-12-06
0,Отдел МТО,Легковой административный транспорт,2022-08-01,2022-08-01,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ВПС Солнцево,Машина с носилками,2022-08-01,2022-08-01,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ВПС Хорошёво,Машина с носилками,2022-08-01,2022-08-02,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Администрация,Легковой административный транспорт,2022-08-01,2022-08-02,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ВПС Преображенское,Машина СМП/ЦЭМП (тяжелые пациенты с мед.сопров...,2022-08-01,2022-08-01,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,ВПС Куркино,Машина СМП/ЦЭМП (тяжелые пациенты с мед.сопров...,2022-11-09,2022-11-09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2704,ВПС ПМХ,Машина с носилками,2022-11-09,2022-11-10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2705,Савеловский (4 ОПМПВ),Машина с носилками,2022-11-09,2022-11-10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2706,Зеленоград,Машина с носилками,2022-11-09,2022-11-10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2707,Зеленоград,Машина с носилками,2022-11-09,2022-11-10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
#  -------------------------------------------- Взять строку ---------------- df_pik.iloc [5]
#  -------------------------------------------- Взять имя столбца ------------ df_pik.keys()[4]
#  -------------------------------------------- Прогнать по циклц  -----
#  -------------------------------------------- Взять ячейку----------- ----- df_pik['2022-08-01'].values[1]
#  -------------------------------------------- Convert str to Date ----------pd.to_datetime(str(df_pik.keys()[4])).to_pydatetime().date()
#  -------------------------------------------- Convert Date to str  --------

In [127]:
# carrent_date = start_date 
# end_date = end_date

for i_stroka in range(df_pik['Подана'].shape[0]): #  --- stroki
  
    # --- сначение текущей строки ячейки   'Подана'       
    x = pd.to_datetime(str(df_pik['Подана'].values[i_stroka])).to_pydatetime().date()
    # --- сначение текущей строки ячейки   'Выполнена'       
    y = pd.to_datetime(str(df_pik['Выполнена'].values[i_stroka])).to_pydatetime().date()   
    
    for j_colonka in range(4,len(df_pik.columns)):

        # ----- приведем имя колонки к дате  
        (j_colonka)
        current_date = pd.to_datetime(str(df_pik.keys()[j_colonka])).to_pydatetime().date()
        
        if (x <= current_date and (y >= current_date)):
            df_pik[df_pik.keys()[j_colonka]].values[i_stroka] =  1

In [128]:
df_pik.head(5)

,филиал,тип,Подана,Выполнена,2022-08-01,2022-08-02,2022-08-03,2022-08-04,2022-08-05,2022-08-06,...,2022-11-27,2022-11-28,2022-11-29,2022-11-30,2022-12-01,2022-12-02,2022-12-03,2022-12-04,2022-12-05,2022-12-06
0,Отдел МТО,Легковой административный транспорт,2022-08-01,2022-08-01,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ВПС Солнцево,Машина с носилками,2022-08-01,2022-08-01,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ВПС Хорошёво,Машина с носилками,2022-08-01,2022-08-02,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Администрация,Легковой административный транспорт,2022-08-01,2022-08-02,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ВПС Преображенское,Машина СМП/ЦЭМП (тяжелые пациенты с мед.сопров...,2022-08-01,2022-08-01,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [144]:
# df_gr = df_pik.groupby(['тип', 'филиал']).sum()
df_gr = df_pik.groupby(['тип']).sum()
df_gr

,2022-08-01,2022-08-02,2022-08-03,2022-08-04,2022-08-05,2022-08-06,2022-08-07,2022-08-08,2022-08-09,2022-08-10,...,2022-11-27,2022-11-28,2022-11-29,2022-11-30,2022-12-01,2022-12-02,2022-12-03,2022-12-04,2022-12-05,2022-12-06
тип,,,,,,,,,,,,,,,,,,,,,
Без машины,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Грузовой административный транспорт,0,0,0,6,5,4,4,10,9,8,...,0,0,0,0,0,0,0,0,0,0
Легковой административный транспорт,3,3,3,3,3,1,1,5,4,7,...,0,0,0,0,0,0,0,0,0,0
"Машина СМП/ЦЭМП (тяжелые пациенты с мед.сопровождением, респираторная поддержка )",2,1,1,3,3,2,1,2,2,1,...,0,0,0,0,0,0,0,0,0,0
Машина без носилок (ВПС),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Машина с носилками,10,29,45,47,39,29,22,39,39,41,...,1,1,1,1,1,1,1,1,1,1
Скорая помощь (Центр),1,2,1,2,5,1,2,5,2,5,...,0,0,0,0,0,0,0,0,0,0

In [166]:
df_max_col = df_gr.max(axis=1)
df_max_col

тип
Без машины                                                                            1
Грузовой административный транспорт                                                  10
Легковой административный транспорт                                                  12
Машина СМП/ЦЭМП (тяжелые пациенты с мед.сопровождением, респираторная поддержка )     5
Машина без носилок (ВПС)                                                              3
Машина с носилками                                                                   48
Скорая помощь (Центр)                                                                 6
dtype: int64

In [164]:
df_col = df_gr.idxmax(axis=1)
df_col

тип
Без машины                                                                           2022-10-05
Грузовой административный транспорт                                                  2022-08-08
Легковой административный транспорт                                                  2022-09-30
Машина СМП/ЦЭМП (тяжелые пациенты с мед.сопровождением, респираторная поддержка )    2022-08-11
Машина без носилок (ВПС)                                                             2022-09-29
Машина с носилками                                                                   2022-08-30
Скорая помощь (Центр)                                                                2022-10-13
dtype: object

In [149]:
df_result = pd.concat([df_col, df_max_col], axis=1)
df_result

                                                             0          1
тип
Без машины                                          2022-10-05   0.039062
Грузовой административный транспорт                 2022-08-08   2.554688
Легковой административный транспорт                 2022-09-30   4.265625
Машина СМП/ЦЭМП (тяжелые пациенты с мед.сопрово...  2022-08-11   1.515625
Машина без носилок (ВПС)                            2022-09-29   0.187500
Машина с носилками                                  2022-08-30  27.085938
Скорая помощь (Центр)                               2022-10-13   1.367188

In [140]:
df_result.to_excel('df_result.xlsx')

In [ ]:
[create] <=@needdate
  AND [create]< DATEADD(DAY,1,@needdate)
  AND [close] >= @needdate