In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('test_kosm.csv', delimiter=';')
df

        fio  pnd   vt   sr  cht   pt   sb   vs
0    leonov  2.0  1.0  NaN  2.0  NaN  3.0  NaN
1   komarov  NaN  NaN  2.0  NaN  NaN  NaN  NaN
2   gagarin  1.0  NaN  NaN  NaN  NaN  NaN  2.0
3     titov  3.0  NaN  3.0  2.0  1.0  NaN  NaN
4    leonov  1.0  NaN  NaN  NaN  NaN  NaN  NaN
5   komarov  NaN  NaN  3.0  NaN  NaN  2.0  1.0
6   gagarin  2.0  NaN  NaN  NaN  2.0  NaN  NaN
7     titov  3.0  NaN  1.0  NaN  NaN  NaN  NaN
8    leonov  4.0  NaN  4.0  NaN  1.0  NaN  NaN
9   komarov  NaN  NaN  2.0  NaN  NaN  NaN  NaN
10  gagarin  5.0  NaN  NaN  1.0  NaN  1.0  NaN
11    titov  1.0  NaN  2.0  NaN  NaN  3.0  1.0

In [50]:
df_gr = df.groupby('fio').sum()
df_gr

         pnd   vt   sr  cht   pt   sb   vs
fio
gagarin  8.0  0.0  0.0  1.0  2.0  1.0  2.0
komarov  0.0  0.0  7.0  0.0  0.0  2.0  1.0
leonov   7.0  1.0  4.0  2.0  1.0  3.0  0.0
titov    7.0  0.0  6.0  2.0  1.0  3.0  1.0

In [51]:
df_max_col = df_gr.max(axis=1)
df_max_col

fio
gagarin    8.0
komarov    7.0
leonov     7.0
titov      7.0
dtype: float64

In [52]:
# df_gr.loc[df_gr.index == 'komarov'].max(axis=1).max()

In [54]:
# for row in range(len(df_gr.index)):
#     df_gr.idxmax(axis=1)
#     print(f'Max element of row {df_gr.index[row]} is:', max(df_gr.iloc[row]))

In [56]:
df_col = df_gr.idxmax(axis=1)
df_col

fio
gagarin    pnd
komarov     sr
leonov     pnd
titov      pnd
dtype: object

In [57]:
df_result = pd.concat([df_col, df_max_col], axis=1)
df_result

           0    1
fio
gagarin  pnd  8.0
komarov   sr  7.0
leonov   pnd  7.0
titov    pnd  7.0

In [59]:
df_result.to_excel('111.xlsx')